<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetty.Buffers" version="0.2.1" targetFramework="net461" />
  <package id="DotNetty.Codecs" version="0.2.1" targetFramework="net461" />
  <package id="DotNetty.Common" version="0.2.1" targetFramework="net461" />
  <package id="DotNetty.Handlers" version="0.2.1" targetFramework="net461" />
  <package id="DotNetty.Transport" version="0.2.1" targetFramework="net461" />
  <package id="NLog" version="4.2.3" targetFramework="net461" />
  <package id="NLog.Config" version="4.2.3" targetFramework="net461" />
  <package id="NLog.Schema" version="4.0.0" targetFramework="net461" />
</packages>